<div class="main-wrapper">

  <div *ngIf="article()" class="article-content">
    
    <!-- Bild anzeigen, falls vorhanden -->
     <div class="article-image-wrapper">
      <img class="article-image" *ngIf="article().thumbnail || 'assets/fallback.jpg' " [src]="article().thumbnail.source" [alt]="article().title">
     </div>

    <h2 class="title">{{ article().title }}</h2>
    <p class="topic-notification">{{this.topicNotification}}</p>
    <div class="article-text-content">
      <p>{{ article().extract }}</p>
    </div>

  </div>
    <div class="card-buttons">
      <i (click)="like(article().title)" class="fa-solid fa-heart fa-xl btn"></i>
      <a [href]="'https://en.wikipedia.org/wiki/' + article().title" target="_blank" class="btn">Read more</a>
      <i (click)="dontlike()" class="fa-solid fa-ban fa-xl btn"></i>
    </div>
</div>
